<header class="main-header">

    <a class="logo" href="#home">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 131 97.48">
            <g id="Layer_2" data-name="Layer 2">
                <g id="Layer_1-2" data-name="Layer 1">
                    <rect class="cls-3" x="3" y="3" width="125" height="91.48" rx="9.3" ry="9.3" fill="none" stroke-miterlimit="10" stroke-width="6"
                    />
                    <rect class="cls-2" x="99.54" y="14.25" width="6.83" height="6.83" rx="3.39" ry="3.39" />
                    <rect class="cls-2" x="16.27" y="20.4" width="6.83" height="6.83" rx="3.39" ry="3.39" />
                    <path class="cls-2" d="M110.46 58.62V23.81H96.81V32h5.46v26.62h-11.6v-47.1H77v8.2h5.46v38.9H70.87V23.81H57.22V32h5.46v26.62h-7.51a4.09 4.09 0 0 1-4.09-4.09V23.81h-15.7a12.29 12.29 0 0 0-12.21 10.92h-.08V73A4.09 4.09 0 0 1 19 77.05h-6.14v8.19H19A12.28 12.28 0 0 0 31.28 73V36.1a4.1 4.1 0 0 1 4.1-4.1h7.51v22.53a12.28 12.28 0 0 0 12.28 12.28h62.12v-8.19z"
                    />
                </g>
            </g>
        </svg>
    </a>

    <nav class="main-header__nav">

        <ul class="main-header__ul">

            <li class="main-header__li">
                <a class="main-header__a main-header__a--active" href="#home">home</a>
            </li>

            <li class="main-header__li">
            </li class="main-header__li">

            <li class="main-header__li">
                <a class="main-header__a" href="#about">about</a>
            </li>
            
            <li class="main-header__li">
                <a class="main-header__a" href="#profile">profile</a>
            </li>

            <li class="main-header__li">
                <a class="main-header__a" href="#skills">skills</a>
            </li>

            <li class="main-header__li">
                <a class="main-header__a" href="#contact">contact</a>
            </li>

        </ul>

    </nav>

</header>


<div class="bucket">

</div>